footer{background: #333333;padding: 3em}
footer p{text-align:center;color: #fff;}
.red{background: #F3726D;color: #fff;font-family: "microsoft yahei", "黑体";margin-bottom: 0}
.small{width: 25px;height: 25px;}
#carousel-example-generic img{width: 100%}
.brief h2,.brief p{font-family: "microsoft yahei", "黑体"}
